@{
    ViewBag.Title = "Admin Panel";
}

<h2>Admin Panel</h2>

<div>
    <p>
        @Html.ActionLink("Manage Products", "Index", "Products", null, new { @class = "btn btn-default" })
    </p>
    <p>
        @Html.ActionLink("Manage Categories", "Index", "Categories", null, new { @class = "btn btn-default" })
    </p>
    <!-- Dodaj inne przyciski według potrzeb -->
</div>
